# Installing safety-gym should install all other necessary dependencies including gym, numpy, etc.
torch==1.7.1
torch-vision==0.1.6.dev0
-e git+https://github.com/openai/safety-gym.git#egg=safety-gym
-e git+https://github.com/jemaw/gym-safety.git#egg=gym-safety
-e git+https://github.com/riveSunder/OpenSafety.git#egg=open_safety