# Installing safety-gym should install all other necessary dependencies including gym, numpy, etc.
# Note that, apparently, safety-gym requires numpy~=1.17.4 but mujoco-py requires a more recent version
numpy==1.20.1
-e git://github.com/openai/safety-gym.git#egg=safety-gym
torch==1.7.1
torch-vision==0.1.6.dev0